body{
  background-color: #eee;
}
.card{
  height: 380px;
  width: 300px;
  border: 2px solid black;
  border-radius: 4px;
  float: left;
  margin: 10px;
  background-color: white;
}
.card img{
  width: 100%;
  height: 180px;
  border-radius: 4px 4px 0 0;
}
.title{
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.description{
  text-align: center;
  color: grey;
}

.price{
  color: green;
  font-size: 20px;
  float: right;
  padding: 10px 10px 0 10px;
  width: 40%;
  text-align: right;
}
.original-price{
  float: right;
  color: grey;
  font-size: 14px;
  padding: 0 10px 10px 10px;
  text-decoration: line-through;
}

.rating{
  padding: 10px;
  float: left;
}
/* Descendant Selector */
.rating img{
  width: 25px;
  height: 25px;
  margin-right: -7px;
}

.buttons{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.buttons button{
  width: 40%;
  font-size:18px;
  margin: 0 5px;
  color: white;
  border: none;
  padding: 5px 0;
  border-radius: 4px;
}
/* Pseudo-Selectors */
.buttons button:hover{
  cursor: pointer;
}
.buy{
  background-color: green;
}
.cart{
  background-color: #feb236;
}
