body{
  text-align: center;
}
h1{
  font-size: 50px;
}
#part-1{
  background-color: green;
}
#part-2{
  background-color: blue;
}
#heading-1, #heading-3{
  color: #675480;
  font-style: italic;
}
#heading-2{
  color: #675400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#heading-3{
  background-color: black;
  width: 400px;
}
.highlight{
  color: white;
  background-color:black;
}
.web-1{
  background-color:black;
  color: green;
}
.web-2{
  font-size: 50px;
  color: red;
}
#java{
  font-weight: 900;
}
#coding{
  font-style: italic;
}